@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Rubik&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
    font-size: 10px;
}

body,html {
  height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #011663;
}

.main-content{
    margin-top: 8rem;
}

/* Nav Bar */

.navbar-brand {
    font-family: 'Rubik', sans-serif;
    font-size: 2.8rem;
    text-transform: uppercase;
}

.nav-link{
    font-size: 1.5rem;
    margin-right: 1rem;
}

/* Hero Image */
#hero-image{
    background: url("/static/images/heroimage.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hero-text{
    color: white;
    position: absolute; 
    width: 45rem;
    padding: 2.5rem 2.5rem;
    margin-left: 5rem;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
}

#hero-text h2{
    font-size: 4.5rem;
    font-weight: 700;
}

/* Forms */

.form-flash{
    color: red;
}

.form-label, .btn-forms{
    font-size: 1.5rem;
}

.forms h1{
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 3rem;
}

.btn-forms{
    margin-top: 1.5rem;
}

.form-redirect{
    margin-top: 1.5rem;
}

/* Watchlist */

.watchlist-intro{
    text-align: center;
}

.watchlist-items{
    margin-top: 3rem;
}

/* Browse */

.browse-items{
    margin-top: 3rem;
}

#stock-icon {
    -ms-flex: 0 0 20px;
    flex: 0 0 20px;
} 

#stock-icon-border{
    height: 4rem;
    width: 4rem;
}

#stock-icon-image{
    width: 100%;
    height: 100%
}
