@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Rubik&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
    font-size: 10px;
}

body,html {
  height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #324B4E;
}

.main-content{
    margin-top: 10rem;
    min-width: 36rem;
}

a {
    color: inherit;
    text-decoration: none !important; /* no underline */
}

.buttonToLink{
   background: none;
   border: none;
}

.form-button{
    background-color: #1A8A94;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.buttons{
    background-color: #1A8A94;
    color: #fff;
    font-size: 1.3rem;
    margin-left: 1rem;
}

.title{
    color: #1A8A94;
}

.cursor-pointer{
    cursor: pointer;
}

.color-red{
    color: red;
}

.color-green{
    color: green;
}

.table-margin-top{
    margin-top: 1rem;
}

.text-wrap{
    word-wrap: break-word;
}

.flash-messages{
    font-size: 1.3rem;
    background-color: #1A8A94;
    color: #fff;
}

/* Nav Bar */

.navbar-brand {
    font-family: 'Rubik', sans-serif;
    font-size: 2.8rem;
    text-transform: uppercase;
}

.nav-link{
    font-size: 1.5rem;
    margin-right: 1rem;
}

/* Hero Image */

#hero-image {
    background-image: url('/static/images/heroimage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 50rem;
}

#hero-text{
    color: #E6F4F1;
    position: absolute; 
    width: 45rem;
    padding: 2.5rem 2.5rem;
    margin-left: 5rem;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
}

#hero-text h2{
    font-size: 4.5rem;
    font-weight: 700;
}

/* Forms */

.form-label, .btn-forms{
    font-size: 1.5rem;
}

.forms h1{
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 3rem;
}

.btn-forms{
    margin-top: 1.5rem;
}

.form-redirect{
    margin-top: 1.5rem;
}

/* Watchlist */

.watchlist-intro{
    text-align: center;
}

.watchlist-items{
    margin-top: 3rem;
}

.empty-watchlist{
    margin-top: 3rem;
}

/* Browse */

/* https://www.bootdey.com/snippets/view/General-Search-Results */
.card-margin {
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .card-margin {
        margin-bottom: 1rem;
    }
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid #E6F4F1;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.table-content tr:first-child td {
    border: 0;
}

.table-content .stock-icon img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.table-content .stock-name {
    min-width: 20rem;
}

.table-content .stock-market-name {
    min-width: 10rem;
}

.table-content .stock-favourite {
    margin-top: 1rem;
    color: #1A8A94;
}

.table-content .stock-not-favourite {
    margin-top: 1rem;
}

.search-form {
    width: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 900px) {
    .table-collapsible{
        display: none;
    }
}

@media (min-width: 768px) {
    .search-form {
        width: 60%;
        margin: 0 auto;
    }
}

.search-form input {
    height: 100%;
    border: 0;
    display: block;
    width: 100%;
    padding: 1rem;
    height: 100%;
    font-size: 1.5rem;
}

.search-form button {
    height: 100%;
    width: 100%;
    font-size: 1rem;
}

.search-body {
    margin-bottom: 1.5rem;
}

.result-actions {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result-sorting {
  display: flex;
  align-items: center;
}

.result-sorting span {
  flex-shrink: 0;
}

.result-sorting select {
  color: #1A8A94;
}

.result-sorting select option {
  color: #3c4142;
}

.modal-buttons{
    display: table-cell;
    margin: 0 auto;
}

.modal-buttons ul li{
    display: inline-block;
}

.dropdown{
    margin-bottom: 2rem;
}

/* https://mdbootstrap.com/snippets/jquery/mdbootstrap/949080#css-tab-view */
.dropdown-submenu {
    position: relative;
}

.dropdown-item, .dropdown-item a {
    font-size: 1.3rem;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* Stock */

.stock-image{
    min-width: 10rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.stock-image img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.stock-name{
    white-space: nowrap;
}

.stock-price-mobile{
    white-space: nowrap;
    font-size: 1.5rem;
}

.stock-price-mobile .color-red,
.stock-price-mobile .color-green {
    white-space: nowrap;
    font-size: 1.5rem;
}

.stock-watchlist-mobile{
    margin-top: 1rem;
}

.stock-price-desktop{
    display: none;
}

.stock-watchlist-desktop{
    display: none;
}

.stock-page-button{
    padding-top: 1.1rem;
    font-size: 1.3rem;
    text-decoration: none;
}


.stock-watchlist-button{
    line-height: 1rem;
    vertical-align: middle;
}


@media (min-width: 800px) {
    .stock-price-desktop{
        display: block;
        white-space: nowrap;
        margin-top: 0;
    }

    .stock-price-mobile{
        display: none;
    }

    .stock-watchlist-desktop{
        display: block;
        white-space: nowrap;
    }

    .stock-page-button{
        font-size: 1.4rem;
    }

    .stock-watchlist-mobile{
        display:none;
    }
}

.company-details-table tbody tr th{
    width: 12rem;
}

.company-details-table tbody tr th,
.company-details-table tbody tr td{
    font-size: 1.3rem;
}

/* Stock - comments */

.comments-number{
    margin-top: 1.5rem;
}

.comment-input{
    font-size:1.3rem;
}

.comments-header{
    list-style-type:none;
}

.comments-header span{
  display: inline-block;
  padding-bottom: 1rem;
}

#comment-time{
    margin-left: 2rem;
}

#comment-body{
    font-size: 1.3rem;
}

#edit-comment-form{
    display:none;
}

#edit-comment,#delete-comment{
    float: right;
    padding-right: 2rem;
}

.submit-button{
    background-color: #1A8A94;
    color: #fff;
}

.cancel-button{
    background-color: #B25076;
    color: #fff;
}