@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Rubik&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
    font-size: 10px;
}

body,html {
  height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #011663;
}

.main-content{
    margin-top: 10rem;
    min-width: 36rem;
}

a {
    color: inherit;
    text-decoration: none !important; /* no underline */
}

.goback{
    background-color: transparent;
    margin-top: 3rem;
    display: block;
}

/* Nav Bar */

.navbar-brand {
    font-family: 'Rubik', sans-serif;
    font-size: 2.8rem;
    text-transform: uppercase;
}

.nav-link{
    font-size: 1.5rem;
    margin-right: 1rem;
}

/* Hero Image */
#hero-image{
    background: url("/static/images/heroimage.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hero-text{
    color: white;
    position: absolute; 
    width: 45rem;
    padding: 2.5rem 2.5rem;
    margin-left: 5rem;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
}

#hero-text h2{
    font-size: 4.5rem;
    font-weight: 700;
}

/* Forms */

.form-flash{
    color: red;
}

.form-label, .btn-forms{
    font-size: 1.5rem;
}

.forms h1{
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 3rem;
}

.btn-forms{
    margin-top: 1.5rem;
}

.form-redirect{
    margin-top: 1.5rem;
}

/* Watchlist */

.watchlist-intro{
    text-align: center;
}

.watchlist-items{
    margin-top: 3rem;
}

/* Browse */

.card-margin {
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .card-margin {
        margin-bottom: 5rem;
    }
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.table-content tr:first-child td {
    border: 0;
}

.table-content .stock-icon img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.table-content .stock-name {
    min-width: 20rem;
}

.table-content .stock-market-name {
    min-width: 10rem;
}

.table-content .stock-favourite .far {
    margin-top: 1rem;
    color: #13bdb4;
}

.table-content .stock-favourite svg.starred {
    fill: #fd8b2c;
}

.search-form {
    width: 60%;
    margin: 0 auto;
}

.search-form input {
    height: 100%;
    border: 0;
    display: block;
    width: 100%;
    padding: 1rem;
    height: 100%;
    font-size: 1.5rem;
}

.search-form button {
    height: 100%;
    width: 100%;
    font-size: 1rem;
}

.search-body {
    margin-bottom: 1.5rem;
}

.search-body .search-result .browse-header {
    margin-bottom: 2rem;
}

.search-body .search-result .browse-header .records {
    color: #3c4142;
}

.search-body .search-result .browse-header .result-actions {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-body .search-result .browse-header .result-actions .result-sorting {
  display: flex;
  align-items: center;
}

.search-body .search-result .browse-header .result-actions .result-sorting span {
  flex-shrink: 0;
}

.search-body .search-result .browse-header .result-actions .result-sorting select {
  color: #68CBD7;
}

.search-body .search-result .browse-header .result-actions .result-sorting select option {
  color: #3c4142;
}

