{% extends "base.html" %}
{% block content %}

<div class="container main-content">
    <div class="row">
        <div class="col-12">
            <div class="card card-margin">
                <div class="card-body">
                    <div class="row search-body">
                        <div class="col-lg-12">
                            <div class="search-result">
                                <div class="browse-header">
                                    <div class="row">
                                        <div class="col-12">
                                            <h1 class="watchlist-title">BROWSE > </h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="browse-body">
                                    <div class="table-responsive table-hover table-margin-top">
                                        <table class="table table-content">
                                            <thead>
                                              <tr>
                                                <th scope="col"></th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Market</th>
                                                <th scope="col">Sector</th>
                                                <th scope="col"></th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                {% for comment in latest_comments %}
                                                        <tr>
                                                            <td>
                                                                <div class="stock-icon">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="stock-name">
                                                                        <h2>{{ comment._id }}</h2>
                                                                        <h4>{{ comment.comment}}</h4>

                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="stock-market-name">
                                                                    <h5>{{ comment.company_name }}</h5>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="stock-sector">
                                                                    <h5></h5>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                {% endfor %}
                                            </tbody>                                           
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
{% endblock %}


                                         



