{% extends "base.html" %}
{% block content %}

    <!-- Sign Up Form -->
    <section id="signup-form">
        <div id="hero-image">
            <div class="container h-100">
                <div class="row align-items-center h-100">
                    <div class="col-md-6 col-12 mx-auto">
                        <div class="jumbotron forms">
                            <h1>Log In</h1>
                                {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert flash-messages alert-dismissible fade out show" role="alert">
                                                {{ message }}
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        {% endfor %}        
                                    {% endif %}
                                {% endwith %}
                            <form method="POST" action="{{ url_for('login') }}">
                                <div class="mb-3">
                                  <label for="username" class="form-label">Username</label>
                                  <input type="text" class="form-control" id="username" name="username" required>
                                </div>
                                <div class="mb-3">
                                  <label for="password" class="form-label">Password</label>
                                  <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <div class="form-row text-center">
                                    <div class="col-12">
                                        <button type="submit" class="btn form-button">Log In</button>
                                    </div>
                                </div>
                                <div class="form-row text-center">
                                    <div class="col-12 form-redirect">
                                        <p>Not registered? Sign up <a href="{{ url_for('signup') }}">here</a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}
