{% extends "base.html" %}
{% block content %}

    <section id="watchlist-header">
            <div class="container">
                <div class="row">
                    <div class="col-12 mx-auto watchlist-intro">
                        <h3>
                            Welcome, {{ username }}
                        </h3>
                    </div>
                </div>
            </div>
    </section>
    <section id="watchlist-main">
        <div class="watchlist-items col-9 mx-auto">
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
            </div>
            <div class="d-flex w-100 justify-content-between">
              <p class="mb-1">Some placeholder content in a paragraph.</p>
              <i class="fas fa-angle-right"></i>
            </div>
            <small class="text-muted">And some muted small print.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Some placeholder content in a paragraph.</p>
            <small class="text-muted">And some muted small print.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Some placeholder content in a paragraph.</p>
            <small class="text-muted">And some muted small print.</small>
          </a>
        </div>    
    </section>    
{% endblock %}